<div class="container">
  <div class="row" id="receipt">
    <div class="col-md-4 d flex-justify-content">
      <div class="card">
        <div class="card-header">
       <h1>Burgers!</h1> 
       </div>
       <div class="card-body">
         POOP - dpmt forget to change this! LOL
       </div>
      </div>
    </div>
  </div>
</div>


<div class="card-body d-flex justify-content-center">
  <h2>What type of burger will you devour?</h2>
  <ul class="list-group list-group-flush w-100">
    {{#each allburgers}}
      {{#unless devoured}}
        {{> burger-block avail=true}}
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="card-body d-flex justify-content-center">
  <h2>Burgers have been devoured!</h2>
  <ul class="list-group list-group-flush w-100"> 
    {{#each allburgers}}
      {{#if devoured}}
        {{> burger-block avail=false}}
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Type of Burger:</label>
    <input type="text" id="ca" name="name" placeholder="Enter Burger Name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label>
    <br>
    <input type="radio" name="sleepy" value="1" > Devour it Now!
    <br>
    <input type="radio" name="sleepy" value="0" checked> Save for later
  </div>

  <button type="submit">Add Burger</button>
</form>
