<wrapper>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 header-bkg custom-title">Eat-Da-Burger!</h1>
          <div class="row justify-content-md-center">
            <div class=" col-md-8 white-border">
              <img src="../public/assets/images/burger-receipts.gif">
            </div>
            <div class="col-md-4 order-bkg">
              <form class="create-form order-text">
                <div class="form-group">
                  <label for="burger">Place Your Order</label>
                  <input type="text" id="ca" name="name" placeholder="Enter Burger Name">
                </div>

                <div class="form-group">
                  <input type="radio" name="sleepy" value="0" checked> Add to Queue
                  <br>
                  <input type="radio" name="sleepy" value="1" > Favorites
                  <br>
                </div>
                <button class="btn btn-warning" type="submit">Add Burger</button>
              </form>
            </div>
          </div>
      </div>
  </div>
</wrapper>  


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <article>
          <h2 class="custom-text"> Waiting to be devoured: </h2>
          <hr>
          <article>
            <p> Order: #57</p>
            <p> Type: Dine In</p>
            <ul class="list-group list-group-flush w-100">
              {{#each allburgers}}
                {{#unless devoured}}
                  {{> burger-block avail=true}}
                {{/unless}}
              {{/each}}
            </ul>
          </article>
          
        </article>
    </div>
    <div class="col-md-6">
      <article>
          <h2 class="custom-text">Your Favorites</h2>
          <hr>
          <article>
            <p> Table 4 |  Order: #57</p>
            <p> Server: Kyle</p>
            <p> Guest 6</p>
          <ul class="list-group list-group-flush w-100"> 
            {{#each allburgers}}
              {{#if devoured}}
                {{> burger-block avail=false}}
              {{/if}}
            {{/each}}
          </ul>
          </article>
        </article>
    </div>
  </div>
</div>
