@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


body {
  background: #F55827;
  padding: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 15px;
}

article {
  background: white;
  width: 100;
  padding: 20px;
  position: relative;
  box-shadow: 0 5px 8px 0 #B5B5B5, 0 6px 20px 0 #B5B5B5;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
}
article::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 20px;
  width: 100%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom center;
  background-size: 150%;
}

.jumbotron {
  background-color: #F55827;
  padding:10px;
  margin-bottom: 0;
}

img {
  height: 500px;
  width: 750px;
  border-width: 10px;
  border-color: whitesmoke;
  border-style: solid;
  box-shadow: -10px -10px #A7E1F8;
  border-radius: 0.5%;
}

.order-bkg {
  box-shadow: 10px 10px #A7E1F8;
  background-color: whitesmoke;
  border-radius: 0.5%;
}

form {
  margin: 50px;
}

.custom-title {
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgb(255, 217, 0);
}

.custom-text {
  font-family: 'Pacifico', cursive;
}
p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.order-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

label {
  font-weight: bold;
}

